html {
    background-color: #fdfdfd;
}
.home {
    max-width: 500px;
    margin: 3% auto;
}
.person {
    border-width: 4px 4px 0px 4px;
    border-color: midnightblue;
    border-style: solid;
    display: flex;
}
.imageDiv {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
}
.imageDiv img {
    max-width: 100px;
}

.info {
    flex: 4;
    padding: 2% 5%;
}

.search {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2%;
    padding: 2%;
}
